.contenedor-principal {
  background-color: red;
  display: grid;
  overflow-y: hidden;
  grid-template-rows: auto 1fr;
  height: 100vh;
}
.contenedor-cabecera {
  background-color: white;
  height: 40px;
  width: 100%;
  .contenido-cabecera{
      height: 100%;
      .btnmenu{
          height: 40px;
          width: 40px;
          margin-right: 20px;
      }
  }
}
.contenedor-medio {
  background-color: darkseagreen;
  overflow: hidden;
  display: grid;
  height: 100%;
  grid-template-columns: 20% 80%;
  .contenedor-buscador {
    background-color: white;
    padding: 10px;
    display: inline-block;
  }
  .contenedor-division {
    display: grid;
    overflow-y: hidden;
    grid-template-rows: 60% 40%;
    background-color: cadetblue;
  }
}

.contenido-buscador {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: -4px -2px 17px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -4px -2px 17px -3px rgba(0,0,0,0.75);
box-shadow: -4px -2px 17px -3px rgba(0,0,0,0.75);
}
.lista-busqueda{
  list-style: none;
  border-bottom: 1px solid rgb(192, 192, 192);
}
.contenedor-scroll-arriba {
  background-color: white;
  height: 100%;
  padding: 10px;
  overflow-y: hidden;
  .contenido-arriba {
    background-color: white;
    -webkit-box-shadow: -4px -2px 17px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px -2px 17px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -4px -2px 17px -3px rgba(0, 0, 0, 0.75);
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
  }
  .logo_empresa{
    width: 50%;
    height: 35%;
  }
  table{
      border: 1px solid rgb(192, 192, 192);
      tr{
          border: 1px solid rgb(192, 192, 192);
      }
  }
}
.contenedor-scroll-abajo {
  background-color: white;
  height: 100%;
  padding: 10px;
  overflow: hidden;
  .contenido-abajo {
    background-color: white;
    -webkit-box-shadow: -4px -2px 17px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -4px -2px 17px -3px rgba(0,0,0,0.75);
box-shadow: -4px -2px 17px -3px rgba(0,0,0,0.75);
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.contenedor-pie {
  background-color: white;
  height: 20px;
  width: 100%;
  .contenido-pie{
      font-size: 15px;
      text-align: center;
  }
}

.imagenes {
  width: 50%;
  height: 75%;
}

