<div class="contenedor-principal">
  <div class="contenedor-cabecera">
    <app-cabecera></app-cabecera>
  </div>
  <div class="contenedor-medio">
    <div class="contenedor-buscador">
      <div class="contenido-buscador">
        <div class="input-group input-group-sm mb-3">
          <input type="text" class="form-control form-control-sm" />
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-primary" type="button">
              Buscar</button
            ><br />
          </div>
        </div>
        <li
          *ngFor="let producto of productos; let productojson = index"
          class="lista-busqueda"
          (click)="prueba(productojson)"
        >
          {{ producto.marca_nombre }}
        </li>
      </div>
    </div>
    <div class="contenedor-division">
      <div class="contenedor-scroll-arriba">
        <div class="contenido-arriba">
          <h3 class="display-6" ><u>Detalles del producto</u></h3>
          <img
            src="{{ producto_muestra.marca_logo }}"
            alt=""
            class="logo_empresa"
          /><br />

          
          <table class="tabla-detalles">
            <tr>
              <th>ID</th>
              <th>Referencia</th>
              <th>Codigo marca</th>
              <th>Descripcion</th>
              <th>Seccion</th>
            </tr>
            <tr>
              <td>{{ producto_muestra.id }}</td>
              <td>{{ producto_muestra.referencia }}</td>
              <td>{{ producto_muestra.marca_codigo }}</td>
              <td>{{ producto_muestra.descripcion }}</td>
              <td>{{ producto_muestra.seccion }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="contenedor-scroll-abajo">
        <div class="contenido-abajo">
          <h3 class="display-6"><u>Imagen del producto</u></h3><br />
          <img
            src="{{ producto_muestra.imagen_producto }}"
            class="imagenes"
            alt="image"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="contenedor-pie">
    <div class="contenido-pie">
      <code>Producido en unas practicas</code>
    </div>
  </div>
</div>
