<div class="contenedor-principal">
  <div class="cabecera">AAAAAAAAAAAAAAAA</div>
  <div class="contenedor-medio">
    <div class="buscador">
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control form-control-sm"/>
        <div class="input-group-append">
          <button class="btn btn-sm btn-outline-primary" type="button">
            Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="auxiliar-division">
      <div class="scroll-arriba">AAAAAAAAAAAAAAAAAA</div>
      <div class="scroll-abajo">AAAAAAAAAAAAAAAAAA</div>
    </div>
  </div>
  <div class="pie">AAAAAAAAAAAAAAAA</div>
</div>
