<div class="contenedor-principal">
  <div class="contenedor-cabecera">
    <app-cabecera></app-cabecera>
  </div>
  <div class="contenedor-medio">
    <div class="contenedor-buscador">
      <div class="contenido-buscador">
        <div class="input-group input-group-sm mb-3">
          <input type="text" class="form-control form-control-sm" />
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-primary" type="button">
              {{title}}</button
            ><br />
          </div>
        </div>
        <li *ngFor="let producto of productos" (click)="buscador($event)">
          {{ producto.marca_nombre }}
        </li>
      </div>
    </div>
    <div class="contenedor-division">
      <div class="contenedor-scroll-arriba">
        <app-tabla></app-tabla>
      </div>
      <div class="contenedor-scroll-abajo">
        <div class="contenido-abajo">
          <label for="">Imagenes</label>
          <li *ngFor="let item of productos">
            <img
              src="{{ item.imagen_producto }}"
              class="imagenes"
              alt="image"
            />
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="contenedor-pie">
    <div class="contenido-pie">
      <p>Desarrolado en unas practicas</p>
    </div>
  </div>
</div>
